<template>
  <div>
    <video controls class="video-player" width="800" height="600"></video>
  </div>
</template>

<script>
import Loader from "../video_loader";

export default {
  props: {
    sources: Array
  },
  data: function() {
    return {
      current_source: 0,
      last_loaded_source: -1,
      loader: new Loader()
    };
  },
  //   watch: {
  //     // eslint-disable-next-line
  //     sources: function(newVal, oldVal) {
  //       if (this.loaded_sources.length === this.sources.length) {
  //         return;
  //       }

  //       this.buffer_next();
  //     }
  //   },
  mounted: function() {
    this.video_instance = document.getElementsByClassName("video-player")[0];
    this.loader.attach(this.video_instance, this.buffer_next).then(async () => {
      const source = this.sources[this.current_source];
      this.last_loaded_source = this.current_source;
      this.current_source += 1;
      await this.loader.appendToBuffer(source.vid, source.part);
    });
  },
  methods: {
    log: function(a) {
      // eslint-disable-next-line
      console.log(a);
    },
    buffer_next: function() {
      const source = this.sources[this.current_source];

      // eslint-disable-next-line
      return new Promise(async (resolve, reject) => {
        if (
          this.current_source === this.last_loaded_source ||
          this.current_source >= this.sources.length
        ) {
          resolve();
          return;
        }

        this.last_loaded_source = this.current_source;
        this.current_source += 1;
        this.loader
          .appendToBuffer(source.vid, source.part)
          .then(() => resolve());
      });
    }
  }
};
</script>