<template>
  <div id="app">
    <video-player v-bind:sources="sources"></video-player>
    <button v-bind:disabled="disabled" v-on:click="add_11">Add left</button>
    <button v-bind:disabled="disabled" v-on:click="add_22">Add right</button>
  </div>
</template>

<script>
import VideoPlayer from "./components/video-player.vue";

export default {
  name: "app",
  components: {
    VideoPlayer
  },
  data: function() {
    return {
      sources: [
        { vid: 0, part: 0 },
        { vid: 1, part: 0 },
        { vid: 1, part: 1 },
        { vid: 1, part: 2 },
        { vid: 2, part: 0 },
        { vid: 2, part: 1 },
        { vid: 2, part: 2 },
        { vid: 2, part: 3 },
        { vid: 2, part: 4 },
        { vid: 2, part: 5 },
        { vid: 2, part: 6 },
        { vid: 2, part: 7 }
      ],
      disabled: null
    };
  },
  methods: {
    add_11: function() {
      this.sources.push("/11.mp4");
      this.disabled = "disabled";
    },
    add_22: function() {
      this.sources.push("/22.mp4");
      this.disabled = "disabled";
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
